model_config_list {
  config {
    name: 'animals'
    base_path: '/models/animals/'
    model_platform: 'tensorflow'

    model_version_policy {
        specific {
            versions: 1
            versions: 2
            versions: 3
          }
        }
    version_labels {
        key: 'deprecated'
        value: 1
    }
    version_labels {
        key: 'stable'
        value: 2
    }
    version_labels {
        key: 'canary'
        value: 3
    }
  }
}
